<header>
    <nav>
        <a href="painelGeral">Painel Geral</a>
        <a href="dividasGeral">Dividas Geral</a>
        <a href="dividasParcial">Dividas Parcial</a>
        
        <div class="dropdown">
            <button class="dropbtn">Operações 
              <i class="arrow down"></i>
            </button>
            <div class="dropdown-content">
              <div class="submenu">
                <a href="operacoes/boletos">Boletos</a>
                <div class="submenu-content">
                    <a href="operacoes/boletos/alterar">Alterar</a>
                    <a href="operacoes/boletos/cadastrar">Criar</a>
                    <a href="operacoes/boletos/excluir">Excluir</a>
                </div>
              </div>

              <div class="submenu">
                <a href="operacoes/dividas">Dividas</a>
                <div class="submenu-content">
                    <a href="operacoes/dividas/alterar">Alterar</a>
                    <a href="operacoes/dividas/cancelar">Cancelar</a>
                </div>
              </div>

              <div class="submenu">
                <a href="operacoes/saldo">Saldo</a>
                <div class="submenu-content">
                    <a href="operacoes/saldo/consultar">Consultar</a>
                    <a href="operacoes/saldo/incluir">Incluir</a>
                </div>
              </div>
            </div>
        </div>
    </nav>
</header>